.header {
  padding: 1em 0;
  justify-content: space-between;
  position: relative;
}
.header__logo {
  align-self: center;
}
.header .button {
  display: none;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .header .button {
    display: inline;
  }
  .header__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.hero {
  text-align: center;
  padding-bottom: 5em;
  background: var(--lightGray);
}
.hero .copy {
  margin-bottom: 2.5em;
}
.hero__image {
  height: 300px;
  margin: 0 -1.5em;
  /* Margen negativo*/
  background: url("../images/image-mockups.png") center bottom no-repeat, url("../images/bg-intro-mobile.svg") center no-repeat;
  background-size: 345px, cover;
  /* A la primer imagen le pone 345 y a la otra que ocupe todo */
  margin-bottom: 1.2em;
}
.hero__imageSrc {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero {
    text-align: left;
    background: url("../images/bg-intro-desktop.svg") left 600px top -290px no-repeat;
    background-size: cover;
    min-height: 550px;
    box-sizing: border-box;
  }
  .hero__content {
    display: grid;
    grid-template-areas: "description image";
    grid-template-columns: 480px 1fr;
    min-height: 550px;
    align-items: center;
    position: relative;
  }
  .hero__imageSrc {
    display: none;
  }
  .hero__image {
    grid-area: image;
    /* Hacemos asi porque la imagen nos aparecia a la izquierda */
    min-height: 700px;
    min-height: inherit;
    /* mismo height que el padre */
    position: absolute;
    left: 0;
    height: 500px;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    /*         background:url('../images/bg-intro-desktop.svg') left 600px top -290px no-repeat; */
  }
  .hero__image {
    background: url("../images/image-mockups.png") right bottom no-repeat;
    background: none;
    background-size: 50%;
    height: 700px;
    right: 0;
    left: 150px;
    top: 0;
  }
}

.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__button {
  width: 40px;
  height: 40px;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}
.menu a {
  text-decoration: none;
  color: var(--grayBlue);
  padding: 0 0.8em;
}
.menu__item {
  display: flex;
  align-items: center;
}
.menu__checkbox {
  display: none;
}
.menu__checkbox:checked ~ .menu__button {
  background: url("../images/icon-close.svg") no-repeat center;
}
.menu__checkbox:checked ~ .menu {
  display: block;
  position: absolute;
  top: 100%;
  padding: 1em;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to bottom, var(--darkBlue) 0%, transparent 90%);
}
.menu__checkbox:checked ~ .menu .menu__item:first-of-type a {
  padding-top: 2em;
  border-radius: 0.5em 0.5em 0 0;
}
.menu__checkbox:checked ~ .menu .menu__item:last-of-type a {
  padding-bottom: 2em;
  border-radius: 0 0 0.5em 0.5em;
}
.menu__checkbox:checked ~ .menu a {
  background: white;
  padding: 0.8em 1em;
  color: var(--darkBlue);
  font-size: 1.1em;
  display: block;
  text-align: center;
  flex: 1;
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
  }
  .menu__button {
    display: none;
  }
}

.why {
  text-align: center;
  background: var(--gray);
  padding: 5em 0;
}
.why .copy {
  margin-bottom: 4em;
}
.why__item .copy {
  margin-bottom: 2em;
}
.why__item img {
  margin-bottom: 1.5em;
}
@media screen and (min-width: 768px) {
  .why {
    text-align: left;
  }
  .why__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .why__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.lastestArticles {
  background: var(--lightGray);
  padding: 5em 0;
}
.lastestArticles h1 {
  text-align: center;
  margin-bottom: 1em;
}
.lastestArticles__grid {
  display: grid;
  grid-row-gap: 2em;
}
.lastestArticles__item {
  border-radius: 0.5em;
  overflow: hidden;
  /* No se sobresale la img y le pone el borde a la img tambien */
  background: #FFF;
}
.lastestArticles__item-content {
  padding: 1.8em 1.8em;
  /* Padding al texto de abajo de la imagen */
}
.lastestArticles__item .copy {
  color: var(--grayBlue);
}
.lastestArticles__item small {
  color: var(--grayBlue);
  margin-bottom: 1em;
  display: block;
}
.lastestArticles__item img {
  width: 100%;
  display: block;
  object-fit: cover;
  /* No se me estira la imagen */
}
@media screen and (min-width: 768px) {
  .lastestArticles h1 {
    text-align: left;
  }
  .lastestArticles__item__content {
    padding: 1;
    /* Padding al texto de abajo de la imagen */
  }
  .lastestArticles__grid {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .lastestArticles__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  background: var(--darkBlue);
  color: #FFF;
  padding: 2em;
  text-align: center;
}
.footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}
.footer__link {
  display: block;
  color: var(--gray);
  text-decoration: none;
  margin-bottom: 2em;
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(5, 25px);
  grid-column-gap: 1em;
  justify-content: center;
  margin: 2.5em 0;
}
.footer__copyright {
  color: var(--grayBlue);
  margin-top: 2.5em;
}
@media screen and (min-width: 1024px) {
  .footer .wrapper {
    display: grid;
    grid-column-gap: 7em;
    grid-template-columns: 200px 1fr 400px;
    grid-template-areas: "logo links button" "social links copyright";
  }
  .footer__links {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
  .footer__logo {
    margin: initial;
    grid-area: logo;
  }
  .footer__social {
    grid-area: social;
  }
  .footer__button {
    text-align: right;
    grid-area: button;
  }
  .footer__copyright {
    text-align: right;
    grid-area: copyright;
  }
}

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --rightCyan: hsl(192, 70%, 51%);
  --grayBlue: hsl(233, 8%, 62%);
  --gray: hsl(220, 16%, 96%);
  --lightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  font-size: 16px;
  --wrapperSpace: 1.5em ;
}

body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  color: var(--grayblue);
}

.copy {
  line-height: 1.7;
  font-size: 0.9em;
}

.is-hidden {
  display: none !important;
}

.wrapper {
  padding: 0 var(--wrapperSpace);
  max-width: calc(1115px + 1.5em);
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

.title__h1, .title__h3, .title__h2 {
  font-size: 2.5em;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 0.5em;
}
.title__h2 {
  /* extiende todas las propriedas de la clase */
  font-size: 1.5em;
}
.title__h3 {
  font-size: 0.9em;
}

.button {
  padding: 0.9em 2.5em;
  font-size: 1em;
  border-radius: 1.5em;
  border: none;
  color: #FFF;
  background-image: linear-gradient(to right, var(--limeGreen) 0%, var(--rightCyan) 100%);
}

.icon__facebook {
  width: 25px;
  height: 25px;
  display: inline-flex;
  /* Por defecto recibe inline y no puede recibir anchos y altos */
  background-repeat: no-repeat;
  background-image: url("../images/icon-facebook.svg");
}
.icon__youtube {
  width: 25px;
  height: 25px;
  display: inline-flex;
  /* Por defecto recibe inline y no puede recibir anchos y altos */
  background-repeat: no-repeat;
  background-image: url("../images/icon-youtube.svg");
}
.icon__twitter {
  width: 25px;
  height: 25px;
  display: inline-flex;
  /* Por defecto recibe inline y no puede recibir anchos y altos */
  background-repeat: no-repeat;
  background-image: url("../images/icon-twitter.svg");
}
.icon__pinterest {
  width: 25px;
  height: 25px;
  display: inline-flex;
  /* Por defecto recibe inline y no puede recibir anchos y altos */
  background-repeat: no-repeat;
  background-image: url("../images/icon-pinterest.svg");
}
.icon__instagram {
  width: 25px;
  height: 25px;
  display: inline-flex;
  /* Por defecto recibe inline y no puede recibir anchos y altos */
  background-repeat: no-repeat;
  background-image: url("../images/icon-instagram.svg");
}

/*# sourceMappingURL=estilos.css.map */
